.tab-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #577d8e;
    height: 60px;
  }
  
  .tab {
    padding: 10px 20px;
    background-color: #499ff0;
    cursor: pointer;
  }
  
  .tab.active {
    background-color: #a2cff1;
    color: #fff;
  }
  
  .content {
    padding: 20px;
  }
  
  .tab-content {
    display: none;
  }
  
  .tab-content.active {
    display: block;
  }
  